body {
  font-size: 16px;
  color: var(--text-normal);
}
a.page-title:hover {
  text-decoration: none;
}
div.view-header {
  height: fit-content;
}
span.samepage-shared-page-status {
  margin-bottom: 0;
}
.samepage-notification-container h4 {
  margin: 4px 0;
}
.samepage-notification-container h5 {
  margin: 8px 0;
}
.samepage-notification-container {
  color: black;
}
.samepage-shared-page-status img {
  margin: 0;
}
